.github
.husky
.parcel-cache
bin
docs
images-test
node_modules
src
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.npmignore
.prettierignore
.standard.jsonc
CHANGELOG.md
pnpm-lock.yaml
README-zh.md
tsconfig.json

*.jpeg
*.png
*.tiff
*.bmp
